<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jjacobson.groupshop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GroupShop"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".shoppinglist.menu.MenuListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".shoppinglist.list.ShoppingListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".sharing.users.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".sharing.profile.EditProfileActivity"/>
        <activity
            android:name=".sharing.users.UserSaveActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".sharing.profile.image.DeleteImageActivity"
            android:icon="@drawable/ic_cancel_red"
            android:label="@string/title_activity_delete_image"
            android:theme="@android:style/Theme.NoDisplay">
        </activity>
        <activity android:name=".settings.SettingsActivity">
        </activity>
    </application>

</manifest>